.env
.env.*
!.env.example
.git
.gitignore
.gitattributes
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.md
.editorconfig
.php_cs
.php_cs.cache
phpunit.xml
.phpunit.result.cache
